/* Configure Tailwind base styles */
@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

/* Configure Tailwind components and utilities */
@tailwind components;
@tailwind utilities;

:root {
    --primary: black;
    --secondary: #1976D2;
}

.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.078) !important;
  opacity: 0 ;
}

.react-confirm-alert-body h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  padding: 1px;
}

.react-confirm-alert-body {
  background: black;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  color: white;
  border: 2.4px solid;
  border-radius: 1.5%;
  border-color: rgba(71, 85, 105);
}

.react-confirm-alert-button-group .buttonYes {
  background: red;
  font-size: 15px;
  font-weight: bold;
}

.react-confirm-alert-button-group .buttonNo {
  font-size: 15px;
  font-weight: bold;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}