.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 15px;
}
.messageTop{
    display: flex;
}
.messageImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    background-color: white;
}
.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #2E2D32;
    color: white;
    font-weight: 500;
    max-width: 300px;
    font-size: 17px;
}
.messageBottom{
    display: flex;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 8px;
    font-weight: bold;
    color: gray;
    margin-right: 10px;
}
.message.own{
    align-items: flex-end;
    margin-right: 15px;
    
}

.message.own .messageText{
    background-color: #1976D2;
    color: white;
    font-weight: 500;
    font-size: 17px;
}