.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messageTop{
    display: flex;
}
.messageImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    background-color: white;
}
.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1976D2;
    max-width: 300px;
}
.messageBottom{
    display: flex;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 55px;
}
.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: #34D15C;
}