.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid #47515f;
    margin-top: 10px;
    padding: 10px;
}

.chatOnlineFriend:hover{
    background-color: #1770C8;
}

.chatOnlineImgContainer{
position: relative;
}

.chatOnlineImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.chatOnlineBadge{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    right: 0;
}

.chatOnlineName{
    margin-left: 20px;
    
}
@media only screen and (max-width: 768px) {
    .chatOnlineImg{
        width: 40px;
        height: 40px;
    }
    .chatOnlineName{
        margin-left: none;
    }
    .chatOnlineImgContainer{
        padding: 0px;
    }
    .chatOnlineName{
        visibility: hidden;
        display: none;
        margin: none;
    }
    .chatOnlineFriend{
    margin-top: 10px;
    border: 2px solid #47515f;
    }
}