.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid #47515f;
    margin-top: 10px;
    padding: 10px;
}

.chatOnlineFriend:hover{
    background-color: #0c0c0c;
}

.chatOnlineImgContainer{
position: relative;
}

.chatOnlineImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    right: 0;
}

.chatOnlineName{
    margin-left: 20px;
}